doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    |   
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    |   
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    |   
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    block content

  footer.footer(style='bottom:0;width:100%;')
    hr
    a.btn.btn-primary(role="button", href="http://localhost:3000/")
      span.glyphicon.glyphicon-home  